:root {
    --blanco: #ffffff;
    --negro: #000000;
    --gris-10: #777;
    --gris-20: #eee;
    --gris-30: #666;
    --gris-40: #ddd;
    --rojo-10: #ff0000;
    --pink-10: #ffb6c1;
    --verde-20: #008000;
    --verde-10: #98fb98;
    --yellow-10: #F2ECC6;
    --font-menu: 'Carrois Gothic SC', cursive;
    --font-frontPage-1: 'Carrois Gothic SC', sans-serif;
    --input-form: 'M PLUS 1 Code', sans-serif;
}


/*MOBILE DESIGN*/
body {
    margin: 0;
}

/*HEADER*/
.header {
    grid-area: header;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo > a > img {
    width: 30vh;
    height: 10vh;
    margin-left: 1vh;
}

.logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.log{
    list-style: none;
    margin-left: 3vh;
    font-size: 3vh;
    color: var(--blanco);
}


.bar-menu {
display: flex;
align-items: center;
background-color: var(--negro);
justify-content: space-between;
}

.menu {
display: none;
background-color: var(--negro);
width: 35vh;
position: fixed;
height: 100%;
right: 0;
}


.fa-bars:before {
content: "\f0c9";
font-size: 5vh;
color: var(--blanco);
}

#hamburger {
background-color: var(--negro);
border: none;
}


.menu > ul {
display: flex;
flex-direction: column;
list-style: none;
padding: 1vh;

}

.menu > ul > button {
display: flex;
padding: 2vh;
background-color: var(--negro);
border: none;
}

.menu > ul > button > a {
text-decoration: none;
font-family: var(--font-menu);
font-size: 1.2rem;
color: var(--blanco);
}

.menu button.active {
background-color: var(--verde-20);
color: var(--blanco);
}


#x {
display: none;
color: var(--blanco);
background-color: var(--negro);
border: none;
font-size: 5vh;
}

.logOut{
    background-color: transparent;
    border: none;
    font-family: var(--font-frontPage-1);
    text-decoration: underline;
    color: var(--blanco);
}


/*CONTENEDOR*/
.contenedorPadre {
    font-weight: bold;
    display: grid;
    grid-row-gap: 10vh;
    grid-template-areas:
        "header"
        "video"
        "novedades"
        "promociones"
        "calendario"
        "footer";
    font-family: var(--font-frontPage-1);
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

#formSuscripcion{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30% 5% 5%;
    align-content: center;
    gap: 1vh;
    font-weight: bold;
    opacity: 1;
    font-family: var(--font-frontPage-1);
    font-size: 3vh;
}

/*VIDEO*/
.video {
    grid-area: video;
    overflow-x: hidden;
    margin-top: 5%;
}

/*NOVEDADES*/
.novedades {
    grid-area: novedades;
}

.cartas-novedades {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.cartas-novedades .novedad {
    height: 430px;
    border-radius: 8px;
    border: none;
    margin: 1%;
    /*padding-top: 10px;*/
    text-align: center;
    transition: all 0.25s;
}

.cartas-novedades .novedad img {
    margin: 0;
    width: 200px;
    height: 300px;
    border-radius: 5px;
}

.novedad > h2, .promocion > h2 {
    font-weight: 600;
    font-size: 1.3rem;
}

.cartas-novedades .novedad p {
    font-size: 1rem;
    padding: 2px;
}

/*PROMOCIONES*/
.promociones {
    grid-area: promociones;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartas-promociones {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    grid-area: promociones;
    justify-content: center;
}

.promocion {
    width: 300px;
    height: 150px;
    border-radius: 8px;
    border: none;
    overflow: hidden;
    margin: 20px;
    padding-top: 10px;
    text-align: center;
    transition: all 0.25s;
}


.promocion img {
    margin: 0;
    height: 60px;
}

/*CALENDARIO*/
.calendario {
    grid-area: calendario;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
}

.month {
    background-color: var(--negro);
    text-align: center;
    color: var(--blanco);
}

.month > h3 {
    align-self: center;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: var(--gris-40);
}

.weekdays > li {
    display: inline-block;
    width: 13.6%;
    color: var(--gris-30);
    text-align: center;
    font-size: 20px;
}

.days {
    padding: 10px 0;
    background: var(--gris-20);
    margin: 0;
    font-size: 40px;
}

.days > li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    color: var(--gris-10);
    font-size: 20px;
}

.days > li .active {
    padding: 5px;
    background-color: var(--negro);
    color: var(--blanco);
}

/*FOOTER*/
.footer {
    display: grid;
    background-color: var(--negro);
    color: var(--blanco);
    margin-top: 2%;
    grid-area: footer;
}

.footer-fields {
    display: none;
    flex-direction: column;
}

.footer-bar > button {
    border: none;
    background-color: var(--negro);
    color: var(--blanco);
    font-size: 4vh;
}

.footer-bar {
    display: flex;
}

.footer > div {
    margin: 3%;
}

.col-1-title {
    font-weight: bolder;
}

.col-1-content {
    font-size: small;
}

.col-2, .col-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2vh;
    margin-top: 2vh;
}

.col-2 > input[type="button"], .col-3 > input[type="button"] {
    display: flex;
    border: none;
    background-color: var(--negro);
    color: var(--blanco);
}

.col-3-metodosPago, .col-2-redesSociales {
    display: flex;
    column-gap: 2vh;
    font-size: 4vh;
    margin-left: 2vh;
}

.col-2-redesSociales > img, .col-3-metodosPago > img {
    width: 7%;
    background: var(--blanco);
    border-radius: 45%;
    margin: 2%;
}

/*SCROLL*/

.scroll {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 2vh;
    z-index: 99;
    font-size: 18px;
    text-transform: uppercase;
    outline: none;
    padding: 2vh;
    border-radius: 7vh;
    border: 1px var(--negro) solid;
}

.scroll:hover {
    background: var(--gris-30);
    color: var(--blanco);
    border: 2px var(--blanco) solid;
    transition: 0.5s;
}

/*SUSCRIPCION*/
.suscripcion {
    display: none;
    pointer-events: none;
    align-items: center;
    top: 0;
    right: 23%;
    position: fixed;
}

.form-sub {
    background: var(--blanco);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: 1% -5% 5%;
    padding: 20%;
}

.suscripcion-mostrar {
    display: flex;
    pointer-events: auto;
    margin-top: 30vh;
}

#add {
    display: none;
}

#email{
    font-size: 3vh;
    font-family: var(--input-form);
}

#email:hover{
    background-color: var(--gris-10);
    color: var(--blanco);
}

#submit {
    display: flex;
    color: var(--blanco);
    background-color: var(--negro);
    font-family: var(--font-frontPage-1);
    border-radius: 2vh;
    font-size:2vh;
}

#submit:hover{
    color: var(--negro);
    background-color: var(--blanco);
}


/*CARTELERA*/
#back {
    display: flex;
    width: 10vh;
    font-size: 5vh;
    border: none;
    background: white;
}

.divBack {
    display: none;
    align-items: center;
    font-size: 5vh;
    margin-top: 5vh;
}

.filter {
    display: flex;
    margin-top: 15vh;
    justify-content: center;
    gap: 1vh;
}

#filter {
    display: flex;
    text-align-last: center;
    font-family: var(--font-frontPage-1);
}

#filterInput {
    font-family: var(--font-frontPage-1);
}

#filterButton {
    font-family: var(--font-frontPage-1);
}

#cleanFilter {
    display: none;
    font-family: var(--font-frontPage-1);
    background: var(--blanco);
    border: none;
    font-size: 3vh;
    color: var(--gris-10);

}

.campoVacio {
    border-color: var(--rojo-10);
}

.campoCorrecto {
    border-color: var(--verde-20);
}

.cartelera {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    font-family: var(--font-frontPage-1);
    gap: 1vh;
}

.carteleraTitulo {
    margin-top: 5vh;
    font-size: 8vh;
}

.pelicula {
    justify-content: center;
    border-radius: 10px;
    background: var(--negro);
    display: flex;
    overflow: hidden;
    margin: 2px;
    width: 75%;
    color: white;
    padding: 2vh;
    flex-direction: column;
}

.add-button {
    position: fixed;
    border: none;
    background: var(--blanco);
    bottom: 20vh;
    outline: none;
    border-radius: 1vh;
    right: 0;
}

.fa-plus-square:before {
    content: "\f0fe";
    font-size: 5vh;
}

.add-button:hover {
    background: var(--gris-10);
    color: var(--blanco);
    border: 2px var(--blanco) solid;
    transition: 0.5s;
}

#add-button {
    font-size: 2vw;
}

.img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-container > img {
    width: 35vh;
    height: 50vh;
    margin: 10px;
    box-shadow: 0 0 5px 2px var(--gris-40);
    border-radius: 5px;
}

.text-content {
    margin-left: 5%;
}

.titulo-pelicula {
    font-size: 2rem;
    margin-bottom: 0;
}

.subtitulo-pelicula {
    font-size: 1rem;
    color: var(--gris-40);
}

.horarios {
    gap: 10%;
    font-weight: bold;
}

.horarios > button {
    background: var(--verde-20);
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
    color: var(--blanco);
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10%;
}

.horarios > button:hover {
    background: var(--blanco);
    color: var(--negro);
    transform: translateY(2px);
    transition: 0.3s;
}

.ediciones {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.edicion {
    background: var(--gris-30);
    width: 10vh;
    font-size: 20px;
    padding: 1%;
    margin: 1%;
    font-weight: bold;
    border: 2px var(--blanco) solid;
    color: var(--blanco)
}

.edicion:hover {
    background: var(--blanco);
    color: var(--negro);
    border: 2px var(--gris-30) solid;
    transition: 0.3s;
}

/*DESCRIPCION PELICULA*/
.contenedor-pelicula {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-frontPage-1);
    margin-top: 10vh;
}

.pelicula-content {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
}

.cartelera-none {
    display: none;
}


/* VENTANA EDICIÓN*/
.modal-contenedor {
    display: none;
    /* pointer-events: none; */
    justify-content: center;
    align-items: center;
    top: 10vh;
    right: 10vh;
    position: fixed;
    pointer-events: auto;
    left: 1vh;
}

.modal-edicion {
    background: var(--blanco);
    box-shadow: 0 12px 16px rgb(0 0 0);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10%;
    width: 100%;
}

#form {
    grid-template-columns: 50% 50%;
    display: grid;
    align-items: center;
    padding: 30% 5% 5%;
    align-content: center;
    gap: 2vh;
    font-weight: bold;
    opacity: 1;
    margin-left: -20px;
    font-family: var(--font-frontPage-1);
}

.fieldForm {
    display: flex;
    width: 50vh;
    font-size: 1rem;
    border-radius: 10px;
    font-family: var(--input-form);
    margin-top: 1vh;
    gap: 2vh;
    align-items: center;
}

.fieldForm > input[type="text"], .fieldForm > input[type="password"]{
    display: flex;
    width: 50vh;
    height: 5vh;
    padding: 1vh;
}

.fieldForm > input :hover {
    background: var(--gris-10);
    color: var(--blanco);
    transition: 0.4s;
}

#form > button {
    background: var(--negro);
    color: var(--blanco);
    border-radius: 10px;
    font-size: 1.2rem;
    border: 2px var(--negro) solid;
    font-family: var(--font-frontPage-1);
}


#form > button:hover {
    color: var(--negro);
    transition: 0.4s;
}

.cerrar-boton {
    display: flex;
    flex-direction: row-reverse;
    margin: -30px;
}

.opacidad-fondo {
    background-color: rgba(0, 0, 0, 0.6);
    filter: blur(8px);
}

.boton-cerrar {
    background: transparent;
    font-size: 4vh;
    border-radius: 10px;
    border: none;
}

.boton-cerrar:hover {
    background: var(--rojo-10);
    transition: 0.4s;
}

.mostrar {
    pointer-events: auto;
    display: block;
}

#form > input[type="file"] {
    margin-left: 1px;
}
.modal-contenedor > .modal-edicion > .cerrar-boton{
    padding-bottom: 0;
    margin: -20px 45vh -15px 50vh;
}
.modal-contenedor > .modal-edicion > .cerrar-boton > .boton-cerrar{
    padding-bottom: 0;
    margin: 0vh 0vh 0 100vh;
}


/**
DATA PICKER
 */
.ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all {
    position: fixed;
    top: 252.475px;
    left: 508.858px;
    z-index: 1;
    display: block;
}

@media only screen and (min-width: 1050px) {

/*HEADER*/
    .header {
        grid-area: header;
        overflow: hidden;
        top: 0;
        width: 100%;
        position: unset;
    }

    .header > div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .logo > a > img {
        width: 50vh;
        height: 20vh;
    }

    .bar-menu {
        display: flex;
        background-color: var(--blanco);
        position: unset;
        align-items: start;
    }

    .menu > ul > button {
        padding: 0;
        justify-content: center;
    }

    .menu {
        display: flex;
        background-color: var(--negro);
        width: 35vh;
        position: unset;
        height: 100%;
    }

    #hamburger {
        display: none;
    }

    .menu > ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 1vh;
        gap: 10vh;
        align-items: center;
        justify-content: center;
        /* width: 10vh; */
        height: 5vh;
    }

    .menu > ul > button > a {
        color: var(--blanco);
        text-decoration: none;
        letter-spacing: 0.15em;
        padding: 10px 10px;
        position: relative;
    }

    .menu > ul > button > a:after {
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: var(--blanco);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    .menu > ul > button > a:hover:after {
        width: 100%;
        left: 0;
        height: 5%;
    }

    /*VIDEO*/
    .video {
        width: 100%;
        margin-top: 5%;
    }

    /*NOVEDADES*/
    .cartas-novedades {
        justify-content: space-between;
        gap: 0;
    }

    .cartas-novedades .novedad {
        width: 250px;
        height: 430px;
        overflow: hidden;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    .novedad:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    .novedades {
        grid-area: novedades;
    }

    .cartas-novedades {
        display: flex;
        flex-direction: row;
    }

    /*PROMOCIONES*/
    .promociones {
        grid-area: promociones;
    }

    .cartas-promociones {
        display: flex;
        flex-direction: row;
        grid-area: promociones;
    }

    .promocion {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    }

    .promocion:hover {
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    /*CARTELERA*/
    .cartelera {
        display: grid;
        grid-template-columns: 100%;
        justify-items: center;
        font-family: var(--font-frontPage-1);
        gap: 1vh;
    }

    .pelicula {
        border-radius: 10px;
        background: var(--negro);
        display: flex;
        flex-direction: row;
        overflow: hidden;
        margin: 2px;
        color: var(--blanco);
    }

    .img-container > img {
        width: 230px;
        height: 340px;
        margin: 10px;
        box-shadow: 0 0 5px 2px var(--gris-40);
        border-radius: 5px;
    }

    .text-content {
        width: 75%;
    }

    .subtitulo-pelicula {
        font-size: 1rem;
        color: var(--gris-40);
    }

    .horarios {
        display: flex;
        justify-content: flex-start;
    }

    .ediciones {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    /*VENTANA DE EDICIÓN*/
    .modal-contenedor {
        display: none;
        justify-content: center;
        align-items: center;
        top: 0;
        right: 35%;
        position: fixed;
        text-align: -webkit-center;
    }

    .modal-edicion {
        margin: 35%;
        margin-top: 1%;
        width: 90vh;
        height: 70vh;
        display: flex;
        flex-direction: column;
    }

    #form {
        gap: 0.5vh;
        font-weight: bold;
        padding: 0 0 0;
        margin-top: 3vh;
        justify-items: self-start;
    }

    #form-sub {
        background: var(--blanco);
        border-radius: 10px;
        margin: 1% 5% 5%;
    }

    #form > input {
        height: 5vh;
        border-radius: 10px;
        width: 50vh;
    }

    #form > input:hover {
        background: var(--gris-10);
        transition: 0.4s;
    }

    #form > button {
        justify-self: self-end;
        height: 6vh;
        font-size: 3vh;
        margin-top: 5vh;
    }

    #form > button:hover {
        background: var(--blanco);
        color: var(--negro);
        transition: 0.4s;
    }

    .cerrar-boton {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 100vh;
    }

    .opacidad-fondo {
        background-color: rgba(0, 0, 0, 0.6);
        filter: blur(8px);
    }

    .boton-cerrar {
        background: transparent;
        font-size: 4vh;
        border-radius: 10px;
        border: none;
    }

    .boton-cerrar:hover {
        background: var(--rojo-10);
        transition: 0.4s;
    }

    /**
    SUSCRIPCIÓN
     */

    .suscripcion-mostrar {
        display: flex;
        pointer-events: auto;
        right: 105vh;
    }

    .form-sub{
        background: var(--blanco);
        box-shadow: 0 12px 16px rgb(0 0 0 / 20%);
        border-radius: 10px;
        margin: 1% 50% 5%;
        display: flex;
        /* padding: 20%; */
        flex-direction: column;
    }

    #formSuscripcion {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
        align-content: center;
        gap: 1vh;
        font-weight: bold;
        opacity: 1;
        margin-left: 0;
        font-family: var(--font-frontPage-1);
    }

    .cerrar-boton{
        padding-bottom: 3vh;
        margin: -50px -8vh 0 50vh;
    }

    /*FOOTER*/
    .footer-bar {
        display: none;
    }

    .footer-fields {
        display: grid;
        pointer-events: auto;
        grid-template-columns: 50% 25% 25%;
    }

    .footer {
        grid-area: footer;
    }

    /*FILTER*/
    .filter {
        display: flex;
        justify-content: center;
        margin: 2vh;
    }

    /*BACK MOVIE DESCRIPTION*/
    .divBack {
        margin-top: 0;
    }

    .login{
        list-style: none;
    }

    /*LOGIN*/
    .login {
        display: flex;
        flex-direction: row;
        gap: 10vh;
        align-self: end;
        margin-bottom: 2vh;
        margin-right: 5vh;
    }

    .new-account{
        display: flex;
        justify-content: center;
        margin-right: 4vh;
        /* justify-content: center; */
        margin-top: 3vh;
    }

    .log{
        color: var(--negro);
    }

    .logOut{
        color: var(--negro);
    }

    /**
    MENSAJE LOGIN
     */

    .msj-log, .msj-promo {
        display: flex;
        width: 100%;
    }
    .mensaje-login{
        width: 100%;
        background: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .msj-enlace {
        transition: 0.2s;
        color: grey;
    }
    .msj-enlace:hover{
        color: white;
    }
}